
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
    a:hover {
      text-decoration: none;
    }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  align-items: center;
  color: #AC7A3E;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  justify-content: center;
  position: relative;
    #delete-btn {
      position: absolute;
      top: 0px;
      right: 10px;
    }
}

.redirect:hover {
  text-decoration: none;
}

#cross {
  opacity: 0.5;
  color: white;
  &:hover {
    color: black;
  }
}
