
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
    a:hover {
      text-decoration: none;
    }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  align-items: center;
  color: #AC7A3E;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10px;
  justify-content: center;
  position: relative;
    #delete-btn {
      position: absolute;
      top: 0px;
      right: 10px;
    }
}

.redirect:hover {
  text-decoration: none;
}

#cross {
  opacity: 0.5;
  color: white;
  &:hover {
    color: black;
  }
}

.description-card {
  border: 1px solid black;
  justify-content: right;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
}

.socials-card {
    background-color: transparent;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
    margin: 20px auto;
    margin-top: 70px;
    h2  {
      color: #AC7A3E;
    }
}

.list-inline {
    list-style: none;
    padding-left: 0px;
    font-size: 25px;
    color: #AC7A3E;
    display: flex;
    justify-content: center;
    a {
      color: #AC7A3E;
      padding: 10px;
      &:hover {
        color: black;
        transform: scale(2, 3);
        transition: 0.5s;

      }
    }
    ul {
    display: block;
    list-style-type: disc;
    }
}
